@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Dan August Reyes<br />
    Blk 12 Lot 50 Northgate Classica<br />
    <abbr title="Mobile">P:</abbr>
    0915 566 4756
</address>

<address>
    <strong>Email:</strong>   <a href="mailto:danaugustreyes@yahoo.com">danaugustreyes@yahoo.com</a><br />

</address>